body {
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vh;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container-difficulty{
  display: inline-flex;
  flex-direction: column;
  gap: 50px;
}
.container-moedas{
    display: flex;
    justify-content: center;
}
.container-moedas img{
  width: 48px;
}
.content-difficulty{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.container-bomba {
  grid-template-columns: repeat(3, 1fr);
  display: inline-grid;
  width: 100%;
}

.bomba {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.bomba img {
  width: 100%;
  height: 100%;
}

.explosion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-size: cover;
  z-index: 2;
}

@keyframes explode {
  0% {
    background-image: url("./assets/explosao1.png");
  }
  16.67% {
    background-image: url("./assets/explosao2.png");
  }
  33.33% {
    background-image: url("./assets/explosao3.png");
  }
  50% {
    background-image: url("./assets/explosao4.png");
  }
  66.67% {
    background-image: url("./assets/explosao5.png");
  }
  83.33% {
    background-image: url("./assets/explosao6.png");
  }
  100% {
    background-image: url("./assets/explosao6.png");
  }
}

.bomba.exploding .explosion {
  animation: explode 1s steps(6) forwards;
}



.difficult-buttons{
  border: none;
  height: 64px;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(50%);
}
.difficult-buttons:hover{
  filter: grayscale(0);
}
.active{
  filter: grayscale(0);
}
#easyDifficulty{
  background-image: url(./assets/easy.png);
}
#mediumDifficulty{
  background-image: url(./assets/medium.png);

}
#hardDifficulty{
  background-image: url(./assets/hard.png);
}

@media (max-width: 740px) {
  #container {
    display: inline-flex;
    flex-direction: column;
  }

  .container-bomba {
    max-width: 500px;
}
.container-difficulty {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.content-difficulty {
  width: 100%;
}
.difficult-buttons {
  margin-top: 34px;
  height: 70px;
}
}